langchain 
langchain_community
ipykernel
pypdf
langchain-text-splitters
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
chromadb
langchain_chroma
langserve
langchain-groq
arxiv
wikipedia
validators==0.34.0
youtube_transcript_api
unstructured
pytube==15.0.0
flask
gunicorn